.more, .timer_display, .score_container {
    display: flex;
    flex-direction: column;
    min-width: 1365px; 
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    background-color: var(--blue);
    
}

.main_header p, .btn {
    text-align: center;
}

.main_header p span {
    font-weight: bold;
    font-style: italic;
}

.timer_display, .score_container {
    max-height: 18.75px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 10%;
    font-size: 70px;
    color: #fff;
}
