body {
    background-color: #fa6400;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.mainHeader {
    color: #fff;
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}

.mainTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gameItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.gameImage {
    width: 100%;
    max-width: 200px; /* Set a maximum width for the gameImage container */
    height: 150px;
    object-fit: cover;
    border: 3px solid #fa6400;
}

.UserInput {
    text-align: center;
    font-size: 8pt;
    min-height: 30px;
    color: #000000;
}

.bottom {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: #fa6400;
    text-decoration: none;
    background: #fff;
    border: 3px solid #f08665;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    color: #ffffff;
    background: #fa6400;
    border-color: #ffffff;
}

.score-container {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
}
